*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;


}
 body
{
    overflow-x: hidden;
} 
header

{
    text-align: right;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    width: 100%;
    padding: 15px 0px 10px 10px;
    background-color: whitesmoke;
}
header a
{
    text-decoration: none;
    padding: 20px;
    padding-bottom: 30px;
    color: black;
}

#link
{
    font-size: 20px;
    position: absolute;
    left: 0;
    padding-top: 2px;
    margin-left: 0%;

}
.image img
{
    position: sticky;
    width: 1500px;
    height: 500px;
    padding-right: 250px;
    padding-left: 120px;
    z-index: -1;
    padding-top: 1px;
}
.box1
{
    width: 1200px;
    height: 40px;
    border: 12px solid white;
    box-shadow: 0px 1px 0px black;
    text-align: left;
    margin-left: 90px;
    margin-right: 150px;
    margin-top: 10px;
}

.content
{
    margin-left: 80px;
    padding-top:50px;

}
.content img
{
    height: 170px;
}
.btn1
{
    position: absolute;
    left: 80px;
    height: 30px;
    width: 120px;
    background-color: black;
    color: white;
    top: 649px;
}


.house2 img
{
    height: 170px;
    position: absolute;
    float: right;
    top: 1px;
    margin-top: 650px;
    padding-left: 280px;
}
.btn2
{
    position: absolute;
    margin-left: 280px;
    height: 30px;
    width: 120px;
    background-color: black;
    color: white;
    top: 1px;
    margin-top: 650px;


}

.house3
{
    margin-left: 800px;
    margin-bottom: 200px;
    top: 70px;
}

.house3 img
{
    height: 170px;
    position: absolute;
    float: right;
    top: 1px;
    margin-top: 650px;
    margin-left: -240px;
}

.btn3
{
    position: absolute;
    margin-left: -240px;
    height: 30px;
    width: 120px;
    background-color: black;
    color: white;
    top: 1px;
    margin-top: 650px;
}

.house4
{
  margin-left: 1150px;
  margin-bottom: 200px;
  top: 70px;
}

.house4 img
{
    height: 170px;
    position: absolute;
    float: right;
    top: 1px;
    margin-top: 650px;
    margin-left: -310px;
}

.btn4
{
    position: absolute;
    margin-left: -310px;
    height: 30px;
    width: 120px;
    background-color: black;
    color: white;
    top: 1px;
    margin-top: 650px;
}
.house5
{
    margin-left: 140px;
    top: 70px;
}

.house5 img
{
    height: 170px;
    position: absolute;
    float: right;
    top: 1px;
    margin-top: 825px; 
    margin-left: -60px; 
}
.btn5
{
    position: absolute;
    left: 80px;
    background-color: black;
    color: white;
    top: 1px;
    margin-top: 830px;
}

.house6
{
    margin-left: 600px;
    margin-bottom: 200px;
    top: 80px;
    /* float: right; */
}

.house6 img
{
    height: 170px;
    position: absolute;
    float: right;
    top: 1px;
    margin-top: 830px;
    margin-left: -240px;
}

.btn6
{
    position: absolute;
    left: 360px;
    background-color: black;
    color: white;
    top: 1px;
    margin-top: 830px;
}

.house7
{
    margin-left: 600px;
    margin-bottom: 200px;
    top: 80px;
}

.house7 img
{
    height: 170px;
    position: absolute;
    float: right;
    top: 1px;
    margin-top: 830px;
    margin-left: 40px;
}
.btn7
{
    position: absolute;
    left: 640px;
    background-color: black;
    color: white;
    top: 1px;
    margin-top: 830px;
}

.house8
{
    margin-left: 600px;
    margin-bottom: 200px;
    top: 80px;
}

.house8 img
{
    height: 170px;
    position: absolute;
    float: right;
    top: 1px;
    margin-top: 830px;
    margin-left: 320px;
}
.btn8
{
    position: absolute;
    left: 920px;
    background-color: black;
    color: white;
    top: 1px;
    margin-top: 830px;
}
.box2
{
    width: 1200px;
    height: 15px;
    border: 12px solid white;
    box-shadow: 0px 1px 0px black;
    text-align: left;
    margin-left: 90px;
    margin-right: 150px;
    margin-top: 40px;
    
}
.box2 h2
{
    position: absolute;
    top: 1px;
    margin-top: 1000px;
}

.box2 p
{
    position: absolute;
    top: 1px;
    margin-top: 1050px;
}

/* .content2
{
    margin-right: 1130px;
    padding-top: 50px;
}

.team1
{
    margin-left: 140px;
    top: 70px;
}
.team1 img
{
    height: 170px;
    position: absolute;
    float: right;
     top: 1px;
     margin-top: 900px;
     margin-left: 8px;
}
.team1 h2
{
    font-size: 20px;
    position: absolute;
    top: 1px;
    margin-top: 1600px;
    margin-left: 10px;
}
.team1 h4
{
    font-size: 14px;
    position: absolute;
    top: 1px;
    margin-top: 1630px;
    margin-left: 10px;
    color: grey;
    padding-top: 14px;
}

.team1 p
{
    font-size: 16px;
    position: absolute;
    top: 1px;
    margin-top: 1646;
    margin-left: 10px;
    color: gray;
    padding-top: 20px;
}
.tbtn1
{

} */